<li>
    {{burger_name}}
    <button class="devour-burger" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#unless devoured}} Devour the burger! {{else}} Not devoured! {{/unless}}
    </button>
    <button class="delete-burger" data-id="{{id}}">
        Delete this burger
    </button>
    <button class="repeat-burger" data-id="{{id}}" data-name="{{burger_name}}">Another!</button>
</li>