<li class="burger-li" data-word="{{firstWord}}">
    {{burger_name}}<br>
    <div class="pic-div" id="picture-div-{{id}}"></div>
    <button class="devour-burger" data-id="{{id}}" data-devoured="{{devoured}}">
        {{#unless devoured}} Eat it! {{else}} Remake it! {{/unless}}
    </button>
    {{#unless devoured}}
    <button class="delete-burger" data-id="{{id}}">
        Send it back!
    </button>
    {{/unless}}
    {{#if devoured}}
    <button class="repeat-burger" data-id="{{id}}" data-name="{{burger_name}}">Another!</button>
    {{/if}}
</li>